$font-primary: "Sora",
sans-serif;
$font-secondary: "Bricolage Grotesque",
sans-serif;
$primary: #D6FFC8;
$black: #10171D;
$black-two: #18212A;
$black-three: #171717;
$white: #ffffff;
$paragraph: #666666;
$font-size: 16px;
$font-weight: 400;
$line-height: 160%;
$transition: all linear 0.2s;