/*=============================
	05. Banner area one start
===============================*/
.banner-section {
	padding: 82px 0 61px 0;
	background-color: var(--bs-white);

	.banner-container {
		max-width: 1280px !important;
	}

	.lines {
		top: -90px;

		span {
			width: 1px;
			height: 120%;
			background-color: var(--bs-border-color1);
		}
	}

	.banner-text {
		.banner-btn {
			gap: 12px;
			max-width: 298px;
			margin-left: 111px;
			color: var(--bs-paragraph);
			line-height: 140%;
			border-bottom: 2px solid var(--bs-paragraph);
			padding-bottom: 5px;
			margin-bottom: 30px;

			.icon {
				transform: rotate(-45deg);
			}
		}

		.banner-title {
			color: var(--bs-text-color1);
			font-family: var(--bs-font-secondary);
			font-size: 96px;
			font-weight: 700;
			line-height: 108px;

			.line-1 {
				padding-left: 97px;
			}

			.line-3 {
				padding-left: 270px;
			}
		}

		p {
			margin-top: 22px;
			max-width: 556px;
		}

		.banner-shape-line {
			bottom: 32px;
			left: 99px;
		}
	}

	.banner-image {
		margin-top: 72px;

		.banner-img {
			top: 10px;
			left: 20px;
		}
	}
}