/*=============================
	05. Brand slider area start
===============================*/

.bland-slider {
	background-color: #FBFBFB;
	padding: 53px 0;
	overflow: hidden;
	margin-top: 30px;
	transform: rotate(-2deg);
	border-bottom: 1px solid rgba(45, 51, 57, 0.15);

	.slider-main {
		.slider-item {
			display: flex;
			white-space: nowrap;
			animation: scroll 20s linear infinite;
			gap: 24px;
			align-items: center;

			a {
				display: inline-block;
				font-size: 40px;
				font-weight: 500;
				color: var(--light-black);
				line-height: 0.9em;
				position: relative;
				margin: 0 28px;
			}
		}

		&:hover {
			.slider-item {
				animation-play-state: paused;
			}
		}
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0)
	}

	to {
		transform: translateX(calc(-100% - 1.5rem))
	}
}