/*=============================
	05. Counter area start
===============================*/
.counter-area {
  border-top: 1px solid var(--bs-border-color3);
  padding-top: 33px;
  .counter-item {
    .number {
      color: var(--bs-text-color1);
      font-size: 96px;
      font-weight: 700;
      line-height: 115%;
    }

    p {
      color: var(--bs-paragraph);
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
    }
  }

  .counter-label {

    &:nth-child(2),
    &:nth-child(4) {
      .number {
        -webkit-text-stroke: 2px var(--bs-paragraph);
        text-stroke: 2px var(--bs-paragraph);
        color: transparent;
      }
    }
  }
}