.footer-section {
  background-color: var(--bs-bg-color1);

  .footer-container {
    padding: 101px 0 34px 0;
    max-width: 1280px !important;
  }

  .lines {
    span {
      width: 1px;
      background-color: var(--bs-border-color1);
    }
  }

  .footer-text {
    padding-bottom: 103px;

    .title {
      color: var(--bs-text-color1);
      font-family: var(--bs-font-secondary);
      font-size: 64px;
      font-weight: 700;
      line-height: 102%;
      margin-bottom: 22px;
    }

    .theme-btn {
      margin-top: 42px;
    }
  }

  .footer-menu {
    border-top: 2px solid var(--bs-border-color5);
    border-bottom: 2px solid var(--bs-border-color5);
    padding: 17px 0 14px 0;

    ul {
      li {
        a {
          color: var(--bs-text-color1);
          font-family: var(--bs-font-secondary);
          font-size: 20px;
          font-weight: 600;
          line-height: 146%;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .left-menu {
      li+li {
        margin-left: 28px;
      }
    }

    .right-menu {
      li+li {
        margin-left: 28px;
      }
    }
  }

  .footer-copyright {
    padding-top: 27px;

    .footer-social-icon {
      a+a {
        margin-left: 17px;
      }
    }

    .copyright-text {
      p {
        color: var(--bs-text-color5);
      }
    }
  }
}

/* back to top button */
.scroll-to-top {
  background: var(--bs-bg-color2);
  width: 40px;
  height: 40px;
  color: var(--bs-white);
  border-radius: 50px;
  border: 0;
  bottom: -45px;
  right: 24px;
  opacity: 0;
  visibility: hidden;
  font-size: 18px;
  z-index: 99;
  cursor: pointer;
  transition: var(--bs-transition);
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 24px;
}

.footer-section-five {
  background: var(--bs-bg-color2);
  padding: 61px 0 74px 0;

  .footer-copyright {
    border-top: 1px solid var(--bs-border-color7);
    margin-top: 107px;
    padding-top: 22px;

    p {
      color: var(--bs-text-color7);
      font-size: 18px;
      font-weight: 400;
      line-height: 160%;
    }
  }

  .rebrand-title {
    font-family: var(--bs-font-secondary);
    color: var(--bs-bg-color3);
    font-size: 228px;
    font-weight: 600;
    line-height: 118.86%;
    position: absolute;
    bottom: -96px;
    right: -192px;
  }
}

.footer-section-four {
  background: var(--bs-bg-color2);
  padding: 114px 0 74px 0;

  .footer-about {
    max-width: 270px;

    .logo {
      margin-bottom: 53px;
    }

    p {
      color: var(--bs-text-color12);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }

    .footer-social-icon2 {
      margin-top: 37px;

      a {
        width: 48px;
        height: 48px;
        background-color: var(--bs-white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }

  .ms-60 {
    margin-left: 60px;
  }

  .footer-widget {
    .footer-title {
      margin-bottom: 36px;
    }

    ul {
      li {
        a {
          color: var(--bs-text-color12);
        }
      }

      li+li {
        margin-top: 4px;
      }
    }
  }

  .footer-widget.address {
    p {
      color: var(--bs-text-color12);
    }

    .contact-info {
      margin-top: 30px;
      a {
        font-size: 18px;
        font-weight: 400;
        line-height: 160%;
        color: var(--bs-text-color12);
      }
    }
  }

  .footer-copyright {
    border-top: 1px solid #808080;
    margin-top: 57px;
    padding-top: 22px;

    p {
      color: var(--bs-text-color7);
      font-size: 18px;
      font-weight: 400;
      line-height: 160%;
    }
  }
}

.footer-widget {
  .footer-title {
    color: var(--bs-white);
    font-family: var(--bs-font-secondary);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 41px;
  }

  ul {
    li {
      a {
        color: var(--bs-text-color7);
        font-size: 18px;
        font-weight: 400;
        line-height: 160%;

        &:hover {
          color: var(--bs-white);
        }
      }
    }
  }
}

.footer-widget.contact-info {
  ul {
    li {
      a {
        color: var(--bs-text-color7);
        font-family: var(--bs-font-secondary);
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;

        &:hover {
          color: var(--bs-white);
        }
      }
    }
  }
}

.footer-widget.address {
  p {
    color: var(--bs-text-color7);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
  }
}