.page-header {
  .page-sub-title {
    font-family: var(--bs-font-secondary);
    font-size: 96px;
    font-weight: 600;
    line-height: 103%;
    max-width: 675px;
    padding-top: 167px;

    .page-header-shape {
      bottom: -34px;
      right: 142px;
    }
  }

  .page-sub-title2 {
    font-family: var(--bs-font-secondary);
    font-size: 56px;
    font-weight: 600;
    line-height: 130%;
    max-width: 865px;
  }

  .page-title {
    font-family: var(--bs-font-secondary);
    color: var(--bs-text-color6);
    font-size: 228px;
    font-weight: 600;
    line-height: 118.86%;
    top: 228px;
    right: 0;
  }

  .contact-title {
    margin-right: -170px;
  }

  .faq-title {
    margin-right: -830px;
    top: 121px;
  }

  .des {
    max-width: 496px;
    margin-left: auto;
  }
}