/*=============================
	05. Services area start
===============================*/

.services-section {
	.services-container {
		border-right: 1px solid var(--bs-border-color1);
		border-left: 1px solid var(--bs-border-color1);
		padding-top: 177px;
		padding-bottom: 176px;
		max-width: 1280px !important;

		&::before {
			width: 1px;
			height: 100%;
			background-color: var(--bs-border-color1);
			position: absolute;
			top: 0;
			left: 500px;
			content: "";
			z-index: -1;
		}
	}

	.services-top-info {
		padding: 0 76px;

		.view-all-services {
			margin-top: 29px;

			.view-all-btn {
				padding-top: 39px;
			}
		}
	}

	.services-main {
		padding-top: 46px;

		.services-item {
			padding: 45px 106px 45px 106px;
			border-top: 1px solid var(--bs-border-color1);


			&:last-child {
				border-bottom: 1px solid var(--bs-border-color1);
			}

			.number {
				color: var(--bs-text-color4);
				font-size: 24px;
				font-weight: 600;
				line-height: normal;
				max-width: 10%;
				flex: 0 0 auto;
			}

			.title {
				color: var(--bs-text-color1);
				font-family: var(--bs-font-secondary);
				font-size: 32px;
				font-weight: 600;
				line-height: 132%;
				max-width: 27%;
				flex: 0 0 auto;
			}

			p {
				max-width: 45%;
				flex: 0 0 auto;
			}

			.icon {
				max-width: 10%;
				text-align: right;
			}
		}
	}
}