.subscribe-now-section {
  background: var(--bs-bg-color3);
  padding: 114px 0 39px 0;

  .subscribe {
    .subscribe-title {
      color: var(--bs-white);
      font-family: var(--bs-font-secondary);
      font-size: 32px;
      font-weight: 600;
      line-height: 132%;
      margin-bottom: 22px;
    }
  }
}