/*=============================
	05. Projects area start
===============================*/

.team-section {
  .team-container {
    padding: 167px 0 166px 0;
    max-width: 1280px !important;
  }

  .view-all-member {
    margin-bottom: 25px;
  }

  .lines {
    span {
      width: 1px;
      background-color: var(--bs-border-color1);
    }
  }

  .team-main {
    margin-top: 56px;
  }

  .team-item {
    .image {
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 223px;
        border-radius: 999px 999px 0px 0px;
        background: #C1DCDB;
        content: "";
        z-index: -1;
      }
    }

    .text {
      margin-top: 18px;

      .name {
        font-size: 28px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 11px;
      }

      .designation {
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
      }
    }
  }

  .team-label {
    &:nth-child(2) {
      .image {
        &::before {
          background: #DBDBDB;
        }
      }
    }

    &:nth-child(3) {
      .image {
        &::before {
          background: #FFD0C0;
        }
      }
    }

    &:nth-child(4) {
      .image {
        &::before {
          background: #CFCFD0;
        }
      }
    }
  }
}