/*=============================
	05. Play Video area start
===============================*/
.video-section {

	.play {
		text-align: center;
		transition: var(--bs-transition);

		.vidplay {
			span {
				color: var(--bs-white);
				font-size: 24px;
				font-weight: 500;
				line-height: 150%;
			}
		}

		&:hover {
			transform: translate(-50%, -50%) scale(1.1) !important;
		}
	}
}